#map { height:  500px; 
    width: 100%; 
    align-items: center;}

#map2 { height:  500px; 
    width: 100%; 
    align-items: center;}

body {margin: 25px;
    text-align: center;
}

.legend-control-container{  
    width: 120px;  
    height: 140px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 1px;  
    line-height: 10px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}